body{
    font-family: 'Roboto', sans-serif;
}
.top{
    text-align: right;
    font-size: 15px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    color: navy;
}
.name-highlight{
    color: orangered;
}
.link{
    color: orange;
    background-image: linear-gradient(45deg, orange, orangered);
    color: white;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
    
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 4%;
}
.half-width img{
    width: 80%;
}
section{
    height: 500px;
    
}